* {
  margin: 0px;
  padding: 0px;
}

.container {
  border: 1px solid rgb(231, 231, 236);
   border-collapse: collapse;
  margin-left: 10%;
  margin-top: 10%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  
}

.heading {
  background-color: #f4f3f3;
  border: 1px solid;
}

.heading th,
.body td {
  border: 1px solid rgb(231, 231, 236);
 border-collapse: collapse;
  padding: 10px;
}

body td {
  text-align: center;
  background-color: #f4f3f3;
border: 1px solid rgb(231, 231, 236);
   border-collapse: collapse;
}

input {
  border: 1px solid rgb(231, 231, 236);
  padding: 4px;
  width: 80%;
}
